* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

section {
  display: grid;
}

.productItem {
  margin: 1rem 0;
  margin-bottom: 3rem;
  background-color: #f2fbff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.productItem img {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  background-color: #c3f7f8;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 2.5rem;
}

a {
  text-decoration: none;
  color: #083c59;
}

h2 {
  text-align: center;
  font-size: 1.25rem;
}

.categories {
  list-style-type: none;
}

.categories li {
  color: #22577a;
  padding: 1rem;
  width: 20rem;
  margin: 0.5rem;
}

.cat-bar {
  background-color: #083c59;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.categories li:hover {
  background-color: #f4fdfd;
}

.productDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 5rem;
  column-gap: 2rem;
}

.product-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 30vw;
}

.buttons {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-block-start: 0;
}

.buttons li {
  margin-right: 2rem;
}

.cart {
  background-color: #c3f7f8;
  padding: 0.4rem;
  display: flex;
  color: #22577a;
  border-radius: 0.3rem;
  margin-left: 1rem;
}

.price {
  color: #083c59;
  font-weight: 600;
}

.stock {
  color: #ec9358;
  margin-left: 1rem;
  font-size: 0.85rem;
}

.productTitle {
  text-transform: uppercase;
}

.brand {
  font-weight: 600;
  font-size: 1.2rem;
}

.goProduct {
  background-color: #083c59;
  border-radius: 0.3rem;
  border: none;
  padding: 0.3rem;
  color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 2rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-items: center;
}

.product-list h1 {
  grid-column: 1/4;
}

.product-list img {
  max-width: 20rem;
}

.smallProduct {
  background-color: #f2fbff;
  padding: 1.3rem;
  border-radius: 0.5rem;
}

.prices {
  display: flex;
  align-items: center;
}

.soldOut img {
  opacity: 0.5;
}
.product-list article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background-color: #22577a;
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
}

.onSale {
  color: rgb(199, 30, 30);
  margin-left: 1rem;
  display: none;
}

.discount {
  background-color: rgb(199, 30, 30);
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  margin-left: 0.5rem;
  display: none;
}

.visible {
  display: block;
}

.invisible {
  text-decoration: line-through;
  text-decoration-color: red;
  color: rgb(110, 110, 110);
}

.seasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 30vw;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.seasons li {
  background-color: #083c59;
  height: 20rem;
  position: relative;
  justify-content: space-around;
}
.seasons li:hover {
  background-color: #22577a;
}

.seasons a {
  color: white;
  align-self: center;
}
.seasnos a:hover {
  color: #083c59;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: none;
  }

  .seasons {
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 0;
  }

  .seasons li {
    height: 4rem;
    align-items: center;
  }

  .product-list {
    display: flex;
    flex-direction: column;
  }

  .smallProduct img,
  .productDisplay img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .productDisplay {
    display: block;
    margin-top: 2rem;
  }
}
